.recentPosts {
	max-width: 100%;
	margin-bottom: 7rem;
	padding: 1rem;
}

.container {
	max-width: 100rem;
	margin: 0 auto;
}

.posts {
	text-align: center;
}

.btn {
	background-color: var(--mainPurple);
	color: var(--mainWhite);
	padding: 1.5rem 3rem;
	margin: 2rem 0;
	display: inline-block;
	font-weight: bold;
	font-size: 2rem;
}

.btn:hover {
	color: var(--mainWhite);
	opacity: 0.9;
}