.footer {
	width: 100%;
	border-top: 1px solid var(--darkGray);
	padding: 1rem;
	margin-top: 5rem;
}

.container {
	max-width: 100rem;
	margin: 2.5rem auto;
}

.container p {
	font-size: 2rem;
	text-align: left;
}

.links {
	display: inline-block;
}
